exponential_distribution/temp
statistical_inference/temp
statistical_inference/*.ipynb
statistical_inference/*.ipynb_checkpoints
statistical_inference/version_01/*.ipynb
statistical_inference/version_01/*.ipynb_checkpoints
